.v-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.v-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    padding: 0 1rem; 
}

.v-container .image-container {
    margin-left: -0.5rem;
    flex: 1;
    max-width: 85%; 
  

.v-right {
    flex: 1;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
   
}

.accordion {
    margin-top: 2rem;
    border: none;
    flex: 1;
}

.accordionItem {
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordionButton {
    background: white;
    padding: 1rem;
    justify-content: space-between;
    cursor: pointer;
}

.icon {
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}

.icon svg {
    fill: var(--blue);
}

.accordionButton .primaryText {
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .v-container {
        flex-direction: column; 
        align-items: center;
    }

    .v-container .image-container {
        max-width: 100%; 
        margin-left: 0; 
    }

    .v-right {
        width: 100%;
        margin-top: 1rem; 
    }
}

@media (max-width: 768px) {
    .accordionButton .primaryText {
        font-size: 0.8rem; 
    }
}
}